@model app_house.Models.Casa

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Casa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dueñoname" class="control-label"></label>
                <input asp-for="Dueñoname" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Dueñoname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Casaname" class="control-label"></label>
                <input asp-for="Casaname" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Casaname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagencasa" class="control-label"></label>
                <input asp-for="imagencasa" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <label asp-for="metros" class="control-label"></label>
                <input asp-for="metros" class="form-control" />
                <span asp-validation-for="metros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoF" class="control-label"></label>
                <input asp-for="MontoF" class="form-control" />
                <span asp-validation-for="MontoF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localidad" class="control-label"></label>
                <input asp-for="Localidad" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

