@{
    ViewData["Title"] = "ヴィジョン";
}

<div class="text-center bg-white">
    <h1 class="display-4 text-dark">Vienvenidos a <b class="text-danger">ヴィジョン</b> la mejor Inmobiliaria de la provincia de Cordoba</h1>
</div>
