@model app_house.Models.Cliente

@{
    ViewData["Title"] = "Crear";
}


<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clientename" class="control-label"></label>
                <input asp-for="Clientename" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Clientename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clienteapellido" class="control-label"></label>
                <input asp-for="Clienteapellido" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Clienteapellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechanacimiento" class="control-label"></label>
                <input asp-for="Fechanacimiento" class="form-control" />
                <span asp-validation-for="Fechanacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localidad" class="control-label"></label>
                <input asp-for="Localidad" class="form-control" onkeyup="this.value = this.value.toUpperCase()"/>
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary mt-2 Botoncrear2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="BotonVolver">Volver</a>
</div>

